<a href="https://colab.research.google.com/github/CanKemaloglu/GlobalAiHubProjects/blob/main/Proje2_GlobalAIHub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Proje 2

(Dataset Linki: https://www.kaggle.com/datasets/luiscorter/netflix-original-films-imdb-scores )

** Veri setine göre uzun soluklu filmler hangi dilde oluşturulmuştur? Görselleştirme yapınız.

** 2019 Ocak ile 2020 Haziran tarihleri arasında 'Documentary' türünde çekilmiş filmlerin IMDB değerlerini bulup görselleştiriniz.


** İngilizce çekilen filmler içerisinde hangi tür en yüksek IMDB puanına sahiptir?

** 'Hindi' Dilinde çekilmiş olan filmlerin ortalama 'runtime' suresi nedir?

** 'Genre' Sütunu kaç kategoriye sahiptir ve bu kategoriler nelerdir? 
Görselleştirerek ifade ediniz.

** Veri setinde bulunan filmlerde en çok kullanılan 3 dili bulunuz.

** IMDB puanı en yüksek olan ilk 10 film hangileridir?

** IMDB puanı ile 'Runtime' arasında nasıl bir korelasyon vardır? İnceleyip görselleştiriniz.

** IMDB Puanı en yüksek olan ilk 10 'Genre' hangileridir? Görselleştiriniz.

** 'Runtime' değeri en yüksek olan ilk 10 film hangileridir? Görselleştiriniz.

** Hangi yılda en fazla film yayımlanmıştır? Görselleştiriniz.

** Hangi dilde yayımlanan filmler en düşük ortalama IMBD puanına sahiptir? Görselleştiriniz.

** Hangi yılın toplam "runtime" süresi en fazladır?

** Her bir dilin en fazla kullanıldığı "Genre" nedir?

** Veri setinde outlier veri var mıdır? Açıklayınız.

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
df_ = pd.read_csv("/content/NetflixOriginals.csv", encoding = "ISO-8859-1")
df = df_.copy()

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.width',1000)

**About Dataset**

Context

This dataset consists of all Netflix original films released as of June 1st, 2021. Additionally, it also includes all Netflix documentaries and specials. The data was webscraped off of this Wikipedia page, which was then integrated with a dataset consisting of all of their corresponding IMDB scores. IMDB scores are voted on by community members, and the majority of the films have 1,000+ reviews.

Content
Included in the dataset is:

Title of the film

Genre of the film

Original premiere date

Runtime in minutes

IMDB scores (as of 06/01/21)

Languages currently available (as of 06/01/21)

In [ ]:
def check_df(dataframe, head=5):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(head))
    print("##################### Tail #####################")
    print(dataframe.tail(head))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())

In [ ]:
check_df(df)

##################### Shape #####################
(584, 6)
##################### Types #####################
Title          object
Genre          object
Premiere       object
Runtime         int64
IMDB Score    float64
Language       object
dtype: object
##################### Head #####################
             Title                  Genre           Premiere  Runtime  IMDB Score          Language
0  Enter the Anime            Documentary     August 5, 2019       58        2.50  English/Japanese
1      Dark Forces               Thriller    August 21, 2020       81        2.60           Spanish
2          The App  Science fiction/Drama  December 26, 2019       79        2.60           Italian
3   The Open House        Horror thriller   January 19, 2018       94        3.20           English
4      Kaali Khuhi                Mystery   October 30, 2020       90        3.40             Hindi
##################### Tail #####################
                                           Title         Genre           Premiere  Runtime  IMDB Score                  Language
579        Taylor Swift: Reputation Stadium Tour  Concert Film  December 31, 2018      125        8.40                   English
580  Winter on Fire: Ukraine's Fight for Freedom   Documentary    October 9, 2015       91        8.40  English/Ukranian/Russian
581                      Springsteen on Broadway  One-man show  December 16, 2018      153        8.50                   English
582    Emicida: AmarElo - It's All For Yesterday   Documentary   December 8, 2020       89        8.60                Portuguese
583     David Attenborough: A Life on Our Planet   Documentary    October 4, 2020       83        9.00                   English
##################### NA #####################
Title         0
Genre         0
Premiere      0
Runtime       0
IMDB Score    0
Language      0
dtype: int64

In [ ]:
df["Runtime"].mean()

93.57705479452055

In [ ]:
## Veri setine göre uzun soluklu filmler hangi dilde oluşturulmuştur? Görselleştirme yapınız.
df[(df["Runtime"] > (df["Runtime"].mean()))].groupby("Language").agg({"Runtime": "count"})

                      Runtime
Language
Dutch                       3
English                   232
English/Akan                1
English/Arabic              1
English/Japanese            1
English/Korean              1
Filipino                    2
French                     12
German                      3
Hindi                      32
Indonesian                  7
Italian                    10
Japanese                    4
Khmer/English/French        1
Korean                      5
Malay                       1
Marathi                     3
Polish                      2
Portuguese                  9
Spanish                    18
Spanish/Catalan             1
Spanish/English             1
Tamil                       1
Thai                        1
Turkish                     4

In [ ]:
## 2019 Ocak ile 2020 Haziran tarihleri arasında 'Documentary' türünde çekilmiş filmlerin IMDB değerlerini bulup görselleştiriniz.
df["Premiere"] = df["Premiere"].apply(pd.to_datetime)

df[(df["Premiere"] >= "2019, 1, 1" ) & (df["Premiere"] <= "2020, 6, 30")  & (df["Genre"] == "Documentary")].sort_values(by = "Premiere")



#(df["Premiere"] <= "2020, 31, 6")

                                                 Title        Genre   Premiere  Runtime  IMDB Score          Language
510                ReMastered: Massacre at the Stadium  Documentary 2019-01-11       64        7.30   English/Spanish
482       Fyre: The Greatest Party That Never Happened  Documentary 2019-01-18       97        7.20           English
511          ReMastered: The Two Killings of Sam Cooke  Documentary 2019-02-08       64        7.30           English
524                           Period. End of Sentence.  Documentary 2019-02-12       26        7.40     English/Hindi
324          Antoine Griezmann: The Making of a Legend  Documentary 2019-03-21       60        6.50            French
444            ReMastered: The Miami Showband Massacre  Documentary 2019-03-22       70        7.00           English
286                       The Legend of Cocaine Island  Documentary 2019-03-29       87        6.30           English
536                     Homecoming: A Film by Beyonce   Documentary 2019-04-17      137        7.50           English
554                   Brene Brown: The Call to Courage  Documentary 2019-04-19       76        7.70           English
462                                   Grass Is Greener  Documentary 2019-04-20       97        7.10           English
442                ReMastered: Devil at the Crossroads  Documentary 2019-04-26       48        7.00           English
466                               Knock Down the House  Documentary 2019-05-01       87        7.10           English
394                                   All in My Family  Documentary 2019-05-03       39        6.80  English/Mandarin
443                       ReMastered: The Lion's Share  Documentary 2019-05-17       84        7.00           English
263                             A Tale of Two Kitchens  Documentary 2019-05-22       30        6.30   English/Spanish
30                                         After Maria  Documentary 2019-05-24       37        4.60   English/Spanish
527                                The Black Godfather  Documentary 2019-06-07      118        7.40           English
545  Rolling Thunder Revue: A bob Dylan Story by Ma...  Documentary 2019-06-12      144        7.60           English
334                                  Life Overtakes Me  Documentary 2019-06-14       40        6.50   English/Swedish
494                              The Edge of Democracy  Documentary 2019-06-19      121        7.20        Portuguese
384                           Parchis: The Documentary  Documentary 2019-07-10      106        6.70           Spanish
476                                     The Great Hack  Documentary 2019-07-24      114        7.10           English
0                                      Enter the Anime  Documentary 2019-08-05       58        2.50  English/Japanese
520                                   American Factory  Documentary 2019-08-21      110        7.40           English
290                   Travis Scott: Look Mom I Can Fly  Documentary 2019-08-28       85        6.30           English
460                                             Evelyn  Documentary 2019-09-10       96        7.10           English
20                   Hello Privilege. It's Me, Chelsea  Documentary 2019-09-13       64        4.40           English
437              Los Tigres del Norte at Folsom Prison  Documentary 2019-09-15       64        7.00           Spanish
295                                            Birders  Documentary 2019-09-25       37        6.40   English/Spanish
111                               Ghosts of Sugar Land  Documentary 2019-10-16       21        5.50           English
546                                   Tell Me Who I Am  Documentary 2019-10-18       85        7.60           English
577                             Dancing with the Birds  Documentary 2019-10-23       51        8.30           English
353                                 It Takes a Lunatic  Documentary 2019-10-25      126        6.60           English
378                                   Little Miss Sumo  Documentary 2019-10-28       19        6.70          Japanese
320                                     A 3 Minute Hug  Documentary 2019-10-28       28        6.50   English/Spanish
521                                   Fire in Paradise  Documentary 2019-11-01       39        7.40           English
436                         Lorena, Light-Footed Woman  Documentary 2019-11-20       28        7.00           Spanish
367                       Bikram: Yogi, Guru, Predator  Documentary 2019-11-20       86        6.70           English
15                                      After the Raid  Documentary 2019-12-19       25        4.30           Spanish
458                            El Pepe: A Supreme Life  Documentary 2019-12-27       73        7.10           Spanish
523                                     Miss Americana  Documentary 2020-01-31       85        7.40           English
392      A Life of Speed: The Juan Manuel Fangio Story  Documentary 2020-03-20       92        6.80           Spanish
555                 Crip Camp: A Disability Revolution  Documentary 2020-03-25      108        7.70           English
484                                       LA Originals  Documentary 2020-04-10       92        7.20           English
455                                    Circus of Books  Documentary 2020-04-22       92        7.10           English
563                                      A Secret Love  Documentary 2020-04-29       82        7.90           English
303           Murder to Mercy: The Cyntoia Brown Story  Documentary 2020-04-29       97        6.40           English
396                                           Becoming  Documentary 2020-05-06       89        6.80           English
401       Have a Good Trip: Adventures in Psychedelics  Documentary 2020-05-11       85        6.80           English
426                                 Spelling the Dream  Documentary 2020-06-03       83        6.90           English
151                                           One Take  Documentary 2020-06-18       85        5.70              Thai
572                  Disclosure: Trans Lives on Screen  Documentary 2020-06-19      107        8.20           English
542                                          Athlete A  Documentary 2020-06-24      104        7.60           English

In [ ]:
## İngilizce çekilen filmler içerisinde hangi tür en yüksek IMDB puanına sahiptir?
df[df["Language"] == "English"].sort_values(by = "IMDB Score", ascending = False).head()

                                          Title         Genre   Premiere  Runtime  IMDB Score Language  year
583    David Attenborough: A Life on Our Planet   Documentary 2020-10-04       83        9.00  English  2020
581                     Springsteen on Broadway  One-man show 2018-12-16      153        8.50  English  2018
579       Taylor Swift: Reputation Stadium Tour  Concert Film 2018-12-31      125        8.40  English  2018
578  Ben Platt: Live from Radio City Music Hall  Concert Film 2020-05-20       85        8.40  English  2020
577                      Dancing with the Birds   Documentary 2019-10-23       51        8.30  English  2019

In [ ]:
## 'Hindi' Dilinde çekilmiş olan filmlerin ortalama 'runtime' suresi nedir?
df[(df["Language"] == "Hindi")].agg({"Runtime" : "mean"})
##df.groupby("Language").agg({"Runtime" : "mean"})

Runtime   115.79
dtype: float64

In [ ]:
## 'Genre' Sütunu kaç kategoriye sahiptir ve bu kategoriler nelerdir? Görselleştirerek ifade ediniz.
df["Genre"].nunique()

115

In [ ]:
print("######################################")
df["Genre"].values

######################################

array(['Documentary', 'Thriller', 'Science fiction/Drama',
       'Horror thriller', 'Mystery', 'Action', 'Comedy',
       'Heist film/Thriller', 'Musical/Western/Fantasy', 'Comedy',
       'Documentary', 'Drama', 'Romantic comedy', 'Action comedy',
       'Thriller', 'Documentary', 'Horror anthology',
       'Political thriller', 'Comedy', 'Horror thriller', 'Documentary',
       'Thriller', 'Comedy', 'Thriller', 'Superhero-Comedy', 'Thriller',
       'Romantic comedy', 'Comedy', 'Comedy', 'Comedy', 'Documentary',
       'Horror', 'Romance drama', 'Comedy', 'Horror', 'Comedy',
       'Documentary', 'Drama', 'Science fiction/Drama', 'Action',
       'Anime / Short', 'Drama', 'Superhero', 'Thriller', 'Heist',
       'Thriller', 'Horror', 'Comedy', 'Comedy', 'Western', 'Action',
       'Animation/Superhero', 'Family film', 'Drama', 'Comedy',
       'Action-thriller', 'Drama', 'Thriller', 'Romantic comedy',
       'Horror', 'Thriller', 'Action comedy', 'Teen comedy-drama',
       'Romantic drama', 'Animation', 'Comedy', 'Aftershow / Interview',
       'Romantic comedy', 'Christmas musical', 'Comedy', 'Drama',
       'Horror', 'Comedy', 'Comedy', 'Comedy', 'Comedy',
       'Science fiction adventure', 'Comedy', 'Science fiction',
       'Variety show', 'Documentary', 'Comedy-drama', 'Drama', 'Comedy',
       'Romantic comedy', 'Comedy', 'Thriller', 'Drama', 'Thriller',
       'Thriller', 'Horror', 'Romantic comedy', 'Drama', 'Drama',
       'Comedy/Fantasy/Family', 'Romantic comedy', 'Comedy', 'Drama',
       'Supernatural drama', 'Action/Comedy', 'Thriller', 'Horror',
       'Drama', 'Comedy', 'Action/Science fiction', 'Romantic comedy',
       'Romantic teenage drama', 'Comedy / Musical', 'Musical',
       'Thriller', 'Comedy', 'Documentary', 'Comedy', 'Variety show',
       'Romantic comedy', 'Science fiction/Mystery', 'Crime drama',
       'Thriller', 'Psychological thriller drama', 'Comedy',
       'Science fiction', 'Romantic comedy', 'Adventure/Comedy',
       'Black comedy', 'Comedy', 'Comedy', 'Black comedy', 'Comedy',
       'Comedy-drama', 'Romantic comedy', 'Thriller', 'Romantic comedy',
       'Romance', 'Variety show', 'Comedy-drama', 'Romantic drama',
       'Science fiction', 'Thriller', 'Comedy', 'Horror comedy',
       'Documentary', 'Christian musical', 'Romantic teen drama',
       'Romantic drama', 'Family', 'Dark comedy', 'Horror',
       'Romantic comedy', 'Drama', 'Comedy', 'Comedy horror',
       'Documentary', 'Documentary', 'Action', 'Thriller',
       'Action comedy', 'Romantic comedy', 'Psychological thriller',
       'Comedy', 'Thriller', 'Comedy', 'Comedy-drama', 'Romantic comedy',
       'Romantic comedy', 'Drama', 'Drama', 'Biopic', 'Comedy', 'Drama',
       'Drama', 'Science fiction/Thriller', 'Romantic comedy', 'Thriller',
       'Romantic comedy', 'Mockumentary', 'Romantic comedy',
       'Comedy-drama', 'Romantic comedy', 'Satire', 'One-man show',
       'Romantic comedy-drama', 'Dark comedy', 'Satire',
       'Science fiction/Thriller', 'Comedy', 'Comedy/Horror', 'Fantasy',
       'Romantic comedy', 'Romantic comedy', 'Drama', 'Romantic comedy',
       'Drama', 'Thriller', 'Sports-drama', 'Zombie/Heist',
       'Psychological horror', 'Mystery', 'Mockumentary', 'Drama',
       'Documentary', 'Romantic comedy', 'Thriller', 'Documentary',
       'Comedy-drama', 'Musical', 'Action comedy', 'Sports film',
       'Biopic', 'Drama', 'Science fiction/Thriller', 'Drama', 'Drama',
       'Comedy mystery', 'Superhero', 'Romantic thriller',
       'Christmas comedy', 'Romantic comedy', 'Romantic comedy',
       'Romantic comedy', 'War-Comedy', 'Action', 'Comedy', 'Drama',
       'Documentary', 'Drama', 'Family', 'Romantic comedy/Holiday',
       'Adventure-romance', 'Documentary', 'Comedy', 'Crime drama',
       'Comedy', 'Adventure', 'Crime drama', 'Biopic', 'Drama', 'Drama',
       'Western', 'Romantic comedy', 'Biopic', 'Horror-thriller', 'Drama',
       'Thriller', 'Dance comedy', 'Stop Motion', 'Biopic', 'Drama',
       'Drama', 'Comedy-drama', 'Comedy', 'Sports-drama', 'Thriller',
       'Thriller', 'Animation', 'Thriller', 'Biopic', 'Romantic comedy',
       'Action comedy', 'Drama', 'Documentary', 'Documentary', 'Comedy',
       'Horror/Crime drama', 'Documentary', 'Romantic comedy',
       'Horror-thriller', 'Family film', 'Urban fantasy', 'Drama/Horror',
       'Drama', 'Family/Comedy-drama', 'Comedy', 'Romantic comedy',
       'Drama', 'Drama', 'Documentary', 'Drama', 'Action', 'Comedy',
       'War', 'Crime thriller', 'Science fiction/Action',
       'Teen comedy horror', 'Science fiction/Drama', 'Drama',
       'Comedy-drama', 'Documentary', 'Crime drama', 'Thriller',
       'Romantic comedy', 'Documentary', 'Drama', 'Documentary',
       'Concert Film', 'Science fiction/Thriller', 'Documentary',
       'Musical comedy', 'Sports-drama', 'Thriller', 'Drama',
       'Romantic comedy', 'Documentary', 'Romantic drama', 'Documentary',
       'Documentary', 'Comedy-drama', 'Animation/Musical/Adventure',
       'Drama', 'Documentary', 'Animation / Musicial', 'Documentary',
       'Comedy-drama', 'Documentary', 'Thriller',
       'Animation/Comedy/Adventure', 'Action-thriller', 'Documentary',
       'Drama', 'Action thriller', 'Romantic comedy', 'Documentary',
       'Romance', 'Drama', 'Anime/Science fiction', 'Documentary',
       'Animation / Short', 'Documentary', 'Comedy', 'War drama',
       'Documentary', 'Musical comedy', 'Horror thriller', 'Thriller',
       'Family/Christmas musical', 'Documentary', 'Drama', 'Drama',
       'Adventure', 'Drama', 'Documentary', 'Science fiction thriller',
       'Romantic comedy', 'Comedy', 'Drama', 'Romance', 'Drama / Short',
       'Hidden-camera prank comedy', 'Psychological thriller', 'Horror',
       'Romantic comedy', 'Romance', 'Documentary',
       'Psychological thriller', 'Documentary', 'Drama', 'Documentary',
       'Documentary', 'Documentary', 'Science fiction', 'Documentary',
       'Spy thriller', 'Crime drama', 'Spy thriller', 'Documentary',
       'Anime/Fantasy', 'Drama', 'Animated musical comedy', 'Documentary',
       'Anime/Science fiction', 'Drama', 'Documentary', 'Documentary',
       'Action', 'Documentary', 'Drama', 'Documentary', 'Drama', 'Comedy',
       'Documentary', 'Romantic drama', 'Variety Show', 'Drama', 'Drama',
       'Drama', 'Documentary', 'Comedy-drama', 'Superhero/Action',
       'Documentary', 'Drama', 'Drama', 'Drama', 'Biographical/Comedy',
       'Documentary', 'Documentary', 'Documentary', 'Romantic comedy',
       'Documentary', 'Comedy', 'Thriller', 'Comedy', 'Documentary',
       'Documentary', 'Documentary', 'Documentary', 'Documentary',
       'Drama', 'Drama', 'Aftershow / Interview', 'Drama', 'Drama',
       'Documentary', 'Drama', 'Documentary', 'Thriller', 'Documentary',
       'Documentary', 'Documentary', 'Animation / Short', 'Drama',
       'Documentary', 'Biopic', 'Romance', 'Historical-epic',
       'Comedy-drama', 'Documentary', 'Documentary', 'Documentary',
       'Documentary', 'Romance', 'Crime drama', 'Comedy / Musical',
       'Comedy-drama', 'Documentary', 'Documentary',
       'Aftershow / Interview', 'Documentary', 'Documentary',
       'Documentary', 'Drama', 'Aftershow / Interview', 'Documentary',
       'Documentary', 'Documentary', 'Documentary', 'Documentary',
       'Documentary', 'Animation / Comedy', 'Comedy',
       'Christmas/Fantasy/Adventure/Comedy', 'Biopic', 'Action-thriller',
       'Aftershow / Interview', 'Animation', 'Animation', 'Drama',
       'Documentary', 'Documentary', 'Mentalism special', 'Documentary',
       'Documentary', 'Documentary', 'Crime drama', 'Documentary',
       'Documentary', 'Documentary', 'Documentary', 'Documentary',
       'One-man show', 'Documentary', 'Documentary', 'Drama',
       'Documentary', 'Documentary', 'Documentary',
       'Psychological thriller', 'Drama', 'Documentary', 'Drama',
       'Romantic comedy', 'Documentary', 'Documentary', 'Drama',
       'Documentary', 'Documentary', 'Documentary', 'Documentary',
       'Romantic comedy', 'Drama-Comedy', 'Drama',
       'Coming-of-age comedy-drama', 'Drama', 'Crime drama', 'Comedy',
       'Drama', 'Documentary', 'Historical drama', 'Making-of', 'War',
       'Documentary', 'Biopic', 'Crime drama', 'Documentary',
       'Documentary', 'Documentary', 'Drama', 'Documentary', 'Animation',
       'Action-adventure', 'Crime drama', 'Thriller', 'Documentary',
       'Documentary', 'Documentary', 'Animation / Short', 'Documentary',
       'Documentary', 'Western', 'Documentary', 'Comedy-drama',
       'Documentary', 'Documentary', 'Documentary', 'Documentary',
       'Documentary', 'Documentary', 'Concert Film', 'Documentary',
       'Documentary', 'Aftershow / Interview', 'Documentary',
       'Documentary', 'Documentary', 'Concert Film', 'Documentary',
       'Documentary', 'Documentary', 'Documentary',
       'Animation / Science Fiction', 'Documentary', 'Variety show',
       'Documentary', 'Documentary', 'Documentary',
       'Anthology/Dark comedy', 'Documentary', 'Documentary',
       'Documentary', 'Documentary', 'Documentary', 'Drama',
       'Documentary', 'Drama', 'Musical / Short', 'War drama',
       'Documentary', 'Documentary', 'Documentary', 'Concert Film',
       'Making-of', 'Drama', 'Animation / Short', 'Crime drama', 'Drama',
       'Documentary', 'Documentary', 'Drama', 'Documentary',
       'Documentary', 'Documentary', 'Documentary', 'Documentary',
       'Documentary', 'Documentary',
       'Animation/Christmas/Comedy/Adventure', 'Documentary',
       'Documentary', 'Documentary', 'Documentary', 'Concert Film',
       'Concert Film', 'Documentary', 'One-man show', 'Documentary',
       'Documentary'], dtype=object)

In [ ]:
## Veri setinde bulunan filmlerde en çok kullanılan 3 dili bulunuz.
Most_Popular_Langs = df.groupby("Language").agg({"Language": "count"})
Most_Popular_Langs.columns = ["Lang Count"]
##Most_Popular_Langs.head()
Most_Popular_Langs.sort_values(by = "Lang Count", ascending = False).head(3)

          Lang Count
Language
English          401
Hindi             33
Spanish           31

In [ ]:
## IMDB puanı en yüksek olan ilk 10 film hangileridir?
df.sort_values("IMDB Score", ascending = False)[:10]

                                           Title                                 Genre   Premiere  Runtime  IMDB Score                  Language
583     David Attenborough: A Life on Our Planet                           Documentary 2020-10-04       83        9.00                   English
582    Emicida: AmarElo - It's All For Yesterday                           Documentary 2020-12-08       89        8.60                Portuguese
581                      Springsteen on Broadway                          One-man show 2018-12-16      153        8.50                   English
580  Winter on Fire: Ukraine's Fight for Freedom                           Documentary 2015-10-09       91        8.40  English/Ukranian/Russian
579        Taylor Swift: Reputation Stadium Tour                          Concert Film 2018-12-31      125        8.40                   English
578   Ben Platt: Live from Radio City Music Hall                          Concert Film 2020-05-20       85        8.40                   English
577                       Dancing with the Birds                           Documentary 2019-10-23       51        8.30                   English
576                      Cuba and the Cameraman                            Documentary 2017-11-24      114        8.30                   English
573                                        Klaus  Animation/Christmas/Comedy/Adventure 2019-11-15       97        8.20                   English
571                                         13th                           Documentary 2016-10-07      100        8.20                   English

In [ ]:
## IMDB puanı ile 'Runtime' arasında nasıl bir korelasyon vardır? İnceleyip görselleştiriniz.

In [ ]:
## IMDB Puanı en yüksek olan ilk 10 'Genre' hangileridir? Görselleştiriniz.
df.groupby("Genre").max().sort_values(by = "IMDB Score", ascending = False)[:10]

                                                                            Title   Premiere  Runtime  IMDB Score      Language
Genre
Documentary                                                                 Zion  2021-05-26      144        9.00  Thia/English
One-man show                                              Springsteen on Broadway 2018-12-16      153        8.50       English
Concert Film                                Taylor Swift: Reputation Stadium Tour 2020-12-21      125        8.40       English
Animation/Christmas/Comedy/Adventure                                        Klaus 2019-11-15       97        8.20       English
Drama                                                                  Yeh Ballet 2021-05-27      151        7.90       Turkish
Animation / Short                                         Sitara: Let Girls Dream 2020-12-28       15        7.80       English
Crime drama                                                               Òlòt?ré 2021-05-14      209        7.80       Spanish
Musical / Short                                                             Anima 2019-06-27       15        7.70       English
Making-of                             The Road to El Camino: A Breaking Bad Movie 2020-02-11       72        7.70       Spanish
War drama                                                             Da 5 Bloods 2020-06-12      155        7.70  English/Akan

In [ ]:
## 'Runtime' değeri en yüksek olan ilk 10 film hangileridir? Görselleştiriniz.
df.groupby("Title").max().sort_values(by = "Runtime", ascending = False)[:10]

                                                 Genre   Premiere  Runtime  IMDB Score  Language
Title
The Irishman                               Crime drama 2019-11-27      209        7.80   English
Da 5 Bloods                                  War drama 2020-06-12      155        6.50   English
Springsteen on Broadway                   One-man show 2018-12-16      153        8.50   English
The Forest of Love                               Drama 2019-10-11      151        6.30  Japanese
Citation                                         Drama 2020-11-06      151        6.20   English
Raat Akeli Hai                                Thriller 2020-07-31      149        7.30     Hindi
The Last Days of American Crime    Heist film/Thriller 2020-06-05      149        3.70   English
Ludo                             Anthology/Dark comedy 2020-11-12      149        7.60     Hindi
Army of the Dead                          Zombie/Heist 2021-05-21      148        5.90   English
Drive                                           Action 2019-11-01      147        3.50     Hindi

In [ ]:
## Hangi yılda en fazla film yayımlanmıştır? Görselleştiriniz.

df.groupby("Premiere").agg({"Title" : "count"}).sort_values(by = "Premiere", ascending = False)[:10]

            Title
Premiere
2021-05-27      1
2021-05-26      3
2021-05-21      1
2021-05-18      1
2021-05-14      3
2021-05-12      1
2021-05-07      2
2021-04-30      1
2021-04-29      1
2021-04-28      1

In [ ]:
df['year'] = pd.DatetimeIndex(df['Premiere']).year

In [ ]:
df.head()

             Title                  Genre   Premiere  Runtime  IMDB Score          Language  year
0  Enter the Anime            Documentary 2019-08-05       58        2.50  English/Japanese  2019
1      Dark Forces               Thriller 2020-08-21       81        2.60           Spanish  2020
2          The App  Science fiction/Drama 2019-12-26       79        2.60           Italian  2019
3   The Open House        Horror thriller 2018-01-19       94        3.20           English  2018
4      Kaali Khuhi                Mystery 2020-10-30       90        3.40             Hindi  2020

In [ ]:
df.groupby("year").agg({"Title" : "count"}).sort_values(by = "year", ascending = False)[:10]

      Title
year
2021     71
2020    183
2019    125
2018     99
2017     66
2016     30
2015      9
2014      1

In [ ]:
## Hangi dilde yayımlanan filmler en düşük ortalama IMBD puanına sahiptir? Görselleştiriniz.
df.groupby("Language").mean("IMDB Score").sort_values(by = "IMDB Score").head()

                  Runtime  IMDB Score    year
Language
Malay              101.00        4.20 2020.00
English/Japanese    89.00        4.40 2018.50
Norwegian           86.00        5.10 2020.00
Filipino            99.50        5.10 2019.50
Polish              98.67        5.17 2020.67

In [ ]:
## Hangi yılın toplam "runtime" süresi en fazladır?
df.groupby("year").sum("Runtime").sort_values(by = "Runtime", ascending = False)

      Runtime  IMDB Score
year
2020    17384     1133.70
2019    10856      782.40
2018     9405      629.70
2021     7214      429.30
2017     6129      423.90
2016     2766      195.40
2015      814       61.90
2014       81        6.40